.parent {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  button {
    padding: 10px 20px;
  }
}
.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 100%;
  * {
    background-color: aliceblue;
    margin: 0;
    border: none;
    border-bottom: 1px solid #777;
  }
}
